@import './js/scss/base.scss';

.footer-container{
  width: 100vw;
  height:10vh;
  margin-top: 5%;
  background-color: $jazz-blue;
  color: $jazz-white;
  text-align: center;
  padding: 20px;
}
@media screen and (min-width:$breakpoint-monitor){
  .footer-container{
    height: 15vh;
    padding: 40px;
  }
}
