@import './js/scss/base.scss';

// .side-menu-content-container{
//   display: flex;
//   flex-direction: column;
//
// }

.header-side-menu{
  display: flex;
  flex-direction: column;
}

.header-side-menu-item{
  padding: 10px;
  color: $jazz-blue;
}
