@import './js/scss/base.scss';

.nba-header{
  width: 100vw;
  height: 5vh;
  display: flex;
}

.nba-logo{
  width: 15vw;
  padding-left: 10vw;
  // padding-bottom: 40px;
}

.nba-menu{
  display: flex;
  justify-content: space-around;
}
.nba-menu-item{
  padding: 12px 10px 5px 10px;
  margin: 0 0 5px 15px;
  color: $nba-color;
}
