@import './js/scss/base.scss';

.lexus-logo-container{
  margin: 10%;
}

.lexus-logo{
  margin: 10% 0 15% 0;
  float: right;
  width: 50%;
}
.logo-presented-by{
  float: right;
  margin: 17% 0 0 0;
  color: $jazz-blue;
}
