@import './js/scss/base.scss';

.lexus-logo-container{
  margin: 10%;
}

.lexus-logo{
  margin: 10% 0 15% 0;
  float: right;
  width: 50%;
}
.logo-presented-by{
  float: right;
  margin: 17% 0 0 0;
  color: $jazz-blue;
}

@media screen and (min-width:$breakpoint-tablet) and (max-width:$breakpoint-monitor){
  .lexus-logo{
    float: none;
    width: 60%;
    margin: 1% auto 0 auto;
  }
  .logo-presented-by{
    float: left;
    margin: 8% 0 0 15%;
  }
}
@media screen and (min-width:$breakpoint-monitor){
  .lexus-logo{
    float: right;
    width: 60%;
    margin: 1% 9% 0 auto;
  }
  .logo-presented-by{
    float: right;
    margin: 9% 7% 0 0;
  }
}
