@import './js/scss/base.scss';


.lexus-photo-container{
  width: 100%;
  float: left;
  margin: 1% 0 0 5%;
}

.lexus-main-photo{
 @extend .room-top-photo;
}
.lexus-group-photo{
 @extend .group-photo-total;
}

.lexus-placement-left{
  @extend .placement-left-total;
}

@media screen and (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet){
  .lexus-photo-container{
    float: none;
    width: 90%;
    margin: 1% 2% 0 5%;

  }
}
