@import './js/scss/base.scss';

.main-header{
  width: 100vw;
  height: 18vh;
  background-color: $jazz-yellow;
  display: flex;
}

.jazz-logo-header{
  width: 10%;
  margin-left: 5%;
}

@media screen and (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet) {
  .jazz-logo-header{
    width:15%;
  }
  .main-header{
    height: 12vh;
  }
}
