@import './js/scss/base.scss';

.landing-photo-box{
  width: 100vw;
  height: 40vh;
  // position: relative;
}
.landing-photo-acutal{
  width: 100%
}
.landing-info{
  display: flex;
  justify-content: center;
}
.landing-title{
  position: absolute;
  top: 37%;
  left: 33%;
  font-size: 3em;
  color: $jazz-white;
  font-weight: bold;
  font-family: $header-font;
}
.landing-sub-title{
padding-top: 20px;
color: $jazz-white;
font-size: 1.5em;
font-weight: bold;
position: absolute;
top: 45%;
left: 27%
}

@media screen and (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet) {
  .landing-title{
    font-size: 2em;
  }
  .landing-photo-acutal{
    display: none;
  }
  .landing-title{
    color: $jazz-blue;
    top: 20%;
    left: 30%;
  }
  .landing-sub-title{
    color: $jazz-blue;
    top: 30%;
    left: 2%;
    text-align: center;
    padding: 20px;
  }
}
@media screen and (min-width:$breakpoint-tablet) and (max-width:$breakpoint-monitor) {
  .landing-photo-box{
    height: 30vh;
  }
  .landing-title{
    font-size: 2.5em;
  }
  .landing-photo-acutal{
    display: none;
  }
  .landing-title{
    color: $jazz-blue;
    top: 25%;
    left: 25%;
  }
  .landing-sub-title{
    color: $jazz-blue;
    top: 30%;
    left: 10%;
    text-align: center;
    padding: 20px;
  }
}

@media screen and (min-width:$breakpoint-monitor){
  .landing-title{
    font-size: 3em;
  }
  .landing-photo-box{
    height: 56vh;
  }
}
