@import './js/scss/base.scss';

.landing-photo-box{
  width: 100vw;
  // height: 20vh;
  position: relative;
}

.landing-photo-acutal{
  width: 100vw;
  height: 40vh;
  margin-bottom: 30px;
  // background-size: cover;
}
.landing-info{
  display: flex;
  justify-content: center;

}
.landing-title{
  // margin-top: 180px;
  // padding-bottom: 30px;
  position: absolute;
  top: 25%;
  left: 33%;
  font-size: 3em;
  color: $jazz-white;
  font-weight: bold;
  font-family: $header-font;

}
.landing-sub-title{
padding-top: 20px;
color: $jazz-white;
font-size: 1.5em;
font-weight: bold;
position: absolute;
top: 40%;
left: 27%
}
