@import './js/scss/base.scss';

.banner-div{
  width: 80px;
  height: 91px;
  // background-color: $jazz-blue;
  margin-left: 50px;
}

.banner-stripe{
  width: 20px;
	height: 91px;
  transform: skew(-19deg);
  display: inline-block;
  float: right;
}
#banner-color-one{
  background-color: $jazz-blue;
}
#banner-color-two{
  background-color: $jazz-white;
}
#banner-color-three{
  background-color: $jazz-green;
}
