@import './js/scss/base.scss';

.banner-div{
  width: 80px;
  height: 18vh;
  margin-left: 50px;
}

.banner-stripe{
  width: 25%;
	height: 18vh;
  transform: skew(-19deg);
  display: inline-block;
  float: right;
}
#banner-color-one{
  background-color: $jazz-green;
}
#banner-color-two{
  background-color: $jazz-white;
}
#banner-color-three{
  background-color: $jazz-blue;
}

@media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-monitor){
  .banner-div{
  display: none;
  }

}
