@import './js/scss/base.scss';

.suite-title-begin{
  margin-top: 110px;
  background-color: $jazz-green;
}
.suite-title{
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 10px 0;
  width: 90vw;
  display: flex;
  justify-content: center;
  border-top: solid 2px $jazz-green;
  border-bottom: solid 2px $jazz-blue;

}
.suite-name{
  font-size: 2.5em;
  color: $jazz-blue;
}
.down-arrow-box{
  margin-left: 2%;
}
