@import './js/scss/base.scss';


.executive-photo-container{
  width: 600px;
  float: right;
  margin: 1% 5% 0 0;
}

.executive-main-photo{
 @extend .room-top-photo;
}
.executive-group-photo{
 @extend .group-photo-total;
}

.executive-placement-left{
  @extend .placement-left-total;
}

@media screen and (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet){
 .executive-photo-bottom{
   display: none;
 }
 .executive-photo-container{
   width: 90%;
   margin: 1% auto 2% auto;
   float: none;

 }
}
