@import './js/scss/base.scss';

.executive-text-container{
  width: 40%;
  margin: 3% 5% 0 5%;
}

.title-suite-text{
  font-family: $header-font;
  font-size: 1.7em;
  padding: 10px 0 10px 0;
  color: $jazz-blue;
}
.suite-paragraph{
  padding: 5px 0 5px 0;
  color: $jazz-blue;
  line-height: 1.4;

}

.executive-benefit-list{
  list-style: square;
  padding-left: 7%;
  line-height: 1.6;
}
.executive-benefit-item{
  padding-left: 1%;
}

@media screen and (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet){
  .executive-text-container{
    width: 90%;
    text-align: left;
  }
}

@media screen and (min-width:$breakpoint-tablet) and (max-width:$breakpoint-monitor){
  .executive-text-container{
    width: 90%;
    text-align: left;
  }
}
@media screen and (min-width:$breakpoint-monitor){
  .executive-text-container{
    width: 45%;
    margin: 0px;
    display: inline-block;
  }
}

.executive-cta-container{
  float: right;
  width: 45%;
  margin: -9% 5% 0 0;
  height: 30%
}

.cta-paragraph{
  font-size: 1.2em;
}

.cta-name{
 @extend .cta-info;
}

.cta-phone-number{
@extend .cta-info;
}

@media screen and (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet){
  .executive-cta-container{
    width: 90%;
    text-align: left;
    margin: 10px auto 0 auto;
    float: none;
  }
}
@media screen and (min-width:$breakpoint-tablet) and (max-width:$breakpoint-monitor){
  .executive-cta-container{
    width: 90%;
    text-align: left;
    margin: 10px auto 0 auto;
    float: none;
  }
}
