@import './js/scss/base.scss';

.suite-text-container{
  width: 45%;
  margin: 4% 0 0 0;
}

.title-suite-text{
  font-family: $header-font;
  font-size: 1.7em;
  padding: 10px 0 10px 0;
  color: $jazz-blue;
}
.suite-paragraph{
  padding: 5px 0 5px 0;
  color: $jazz-blue;
  line-height: 1.4;

}
.cta-paragraph{
  font-size: 1.2em;
}

.cta-name{
 @extend .cta-info;
}

.cta-phone-number{
@extend .cta-info;
}

@media screen and (min-width:$breakpoint-mobile) and (max-width:$breakpoint-tablet){
  .suite-text-container{
    width: 90%;
    text-align: center;
    padding-left: 32px;
  }
}

@media screen and (min-width:$breakpoint-tablet) and (max-width:$breakpoint-monitor){
  .suite-text-container{
    width: 90%;
    text-align: center;
    margin: 10px 0 0 0;
    padding:10px 0 0 32px;
  }
}
